body {
    background: #ffa17f;
    background: -webkit-linear-gradient(to right, #00223e, #ffa17f);
    background: linear-gradient(to right, #00223e, #ffa17f);
    overflow: hidden;
  }
  
  #universe {
    position: fixed;       /* Stays in place while scrolling */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;           /* Behind everything */
    pointer-events: none;  /* Doesn't block clicks */
  }

  .star0 {
    height: 1px;
    width: 1px;
    opacity: 1;
    position: absolute;
  }
  
  .star1 {
    height: 2px;
    width: 2px;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
  }
  
  .star2 {
    height: 3px;
    width: 3px;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
  }
  
  .star3 {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
  }
  